@use "../mixins" as mix;

.arrow-top {
  @include mix.flex-c-c-row;
  margin: 0.5rem 0;
  cursor: pointer;
  gap: 0.375rem;
  transition: all var(--transition-fast);
  &:hover {
    transform: translateY(-2px);
  }
  &__icon {
    width: clamp(26px, 5vw, 36px);
  }
}
