@use "../variables" as vars;
@use "../mixins" as mix;

.cat-button {
  @include mix.text-normal;

  padding: 0.25rem 0.75rem;
  font-weight: 700;
  border-radius: 2rem;
  cursor: default;
  transition: all var(--transition-fast);
  border: 1px solid transparent;

  &--grow {
    cursor: pointer;
    &:hover {
      transform: translateY(-1px);
      box-shadow: vars.$drop-light-lg;
      border-color: var(--glass-border-hover);
    }
  }
}
