@use "../mixins" as mix;
@use "../variables" as vars;

.mv-posts {
  @include mix.flex-c-c-col;

  gap: 1rem;
  &__title {
    @include mix.medium-border-title;
  }
  &__link:focus {
    color: hsl(var(--primary));
  }
  &__post-title {
    font-size: clamp(1.125rem, 1.5vw, 1.25rem);
    font-weight: 600;
    line-height: 1.75rem;
    position: relative;
    padding-left: 0;
    transition: all var(--transition-fast);

    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-clamp: 2;

    &:hover {
      color: hsl(var(--primary));
      padding-left: 0.5rem;
    }
  }
}
