@use "../mixins" as mix;
@use "../variables" as vars;

.search {
  //   position: relative;
  &__icon {
    cursor: pointer;
    outline: none;
  }
  &__background {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: -10;
  }
  &__container {
    @include mix.flex-c-c-col;
    justify-content: start;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 35%;
    max-width: vars.$max-w-1000;
    padding: 1rem;
    height: 24rem;
    background-color: hsl(var(--background));
    overflow-y: auto;
    border: 2px solid hsl(var(--muted));
    border-radius: 0.5rem;

    @media (max-width: 768px) {
      width: 90%;
    }
  }
  &__input {
    @include mix.text-normal;

    width: 100%;
    height: 3rem;
    margin-bottom: 0.5rem;
    text-align: left;
    text-indent: 2.25rem;
    border: 2px solid hsl(var(--muted));
    border-radius: 0.5rem;
    background-color: hsl(var(--background));

    &::placeholder {
      opacity: 0.5;
    }

    &:focus {
      border-color: hsl(var(--primary));
      border-width: 1px;
    }

    &-icon {
      position: absolute;
      top: 1.75rem;
      left: 1.5rem;
    }
  }
  &__type {
    @include mix.flex-c-c-row;

    gap: 0.5rem;
    margin-top: 0.5rem;
  }
  &__results-list {
    @include mix.flex-c-c-col;
    gap: 0.75rem;
    margin-top: 1.5rem;
    width: 100%;
    overflow: auto;
  }
  &__result {
    width: 100%;
    height: auto;
    text-align: center;
    padding: 0.5rem;
    background-color: hsl(var(--secondary));
    border-radius: 0.5rem;

    &:hover,
    &:focus {
      background-color: hsl(var(--primary));
      color: hsl(var(--primary-foreground));
    }
  }
  &__message {
    @include mix.flex-c-c-row;
    margin-top: 3rem;
  }
}
